  /* Custom properties */
  :root{
    --black: #000000;
    --grey: #4A4A4A;
    --dark-grey: #222222;
    --white: #fff;
    --blue: #0210FF;
    --red: #D12614;
    --green: #4BC800;
  }
  
  /* Reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Generics */
  body {
    font-family: sans-serif;
    color: var(--white);
  }
  
  /* Utils */
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  header{
    background-color: var(--black);
    height: 80px;
  }

  main{
    height: calc(100vh - 160px);
    overflow-y: auto;
    background-color: var(--black);
  }

  footer{
    background-color: var(--dark-grey);
    height: 80px;
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .flex{
    display: flex;
  }

  /* Header */

  .header-content{
    font-size: 11px;
    padding: 10px;
    text-align: right;
  }

  .header-content > span{
    background-color: var(--grey);
    padding: 3px;
    border-radius: 3px;
    margin-left: 2px;
  }

  /* Main */

  .card{
    position: relative;
    padding: 5px;
    min-width: calc(100% / 5 - 10px);
    min-height: 80px;
  }

  .card > img{
    width: 100%;
  }

  .img-content, .img-content-hover{
    font-size: 12px;
    padding: 2px;
    color: var(--white);
  }

  .img-content{
    background-color: var(--grey);
    position: absolute;
    bottom: 9px;
    left: 5px;
  }

  .img-content-hover{
    position: absolute;
    top: 7px;
    right: 4px;
    display: none;
  }

  .img-content-hover > span{
    background-color: var(--blue);
    padding: 3px 5px;
    border-radius: 3px;
  }

  .card:hover .img-content-hover{
    display: block;
  }

  /* Footer */

  .footer-left, .footer-right{
    flex-basis: 20%;
  }

  .footer-center{
    flex-basis: 60%;
    flex-grow: 1;
    justify-content: center;
  }

  footer i{
    font-size: 20px;
    padding: 8px;
    margin: 0 5px;
  }

.fa-chevron-up{
    font-size: 7px;
    margin-left: 2px;
  }

  .name-actions{
    padding-left: 8px;
    font-size: 11px;
  }

  .center-text{
    margin: 0 8px;
    text-align: center;
  }

  #share-green{
    color: var(--green);
  }

  .footer-right{
    font-size: 12px;
    background-color: var(--grey);
    justify-content: center;
    align-items: center;
    color: var(--red);
    height: 80px;
  }
