  /* Custom properties */
  :root{
    --black: #000000;
    --dark-grey: #222222;
    --grey: #4A4A4A;

  }
  
  /* Reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Generics */
  body {
    font-family: sans-serif;
  }
  
  /* Utils */
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  header{
    background-color: var(--black);
    height: 80px;
  }

  main{
    background-color: red;
    height: calc(100vh - 160px);
    overflow-y: auto;
  }

  footer{
    background-color: green;
    height: 80px;
  }

  /* Header */
